.section-title{
	background: url('/gif/sparklechecker.gif'),rgba(0, 0, 0, 0.644);
	background-blend-mode: multiply;
	background-size: 250px;
	padding: 1em;
	h2{
		font-size: 3rem;
		letter-spacing: 10px;
		text-align: center;
	}
}