.section-title{
	background: url('/gif/sparklechecker.gif'),rgba(0, 0, 0, 0.644);
	background-blend-mode: multiply;
	background-size: 250px;
	padding: 1em;
	h2{
		font-size: 3rem;
		letter-spacing: 10px;
		text-align: center;
	}
}

.section-description{
	text-align: center;
	font-size: 1rem;
	font-family: 'Times New Roman', monospace;
	color: #B53B9D;
	padding: 1em;
	letter-spacing: 2px;
	max-width: min(600px,90%);
	margin: 0 auto;
}