#container_contacts{

	.contacts{
		display: grid;
		grid-template-columns: 1fr 3fr;
		padding: 3em;
		margin-bottom: 200px;
		.art-part{
			padding: 1em;
			.main-art{
				width: 100%;
				height: 100%;
				object-fit: cover;
				max-height: 500px;
				border: 6px dotted #B9336E;
			}
			.details{
				width: 100%;
				background-color: #B9336E;
				text-align: center;
				padding: .5em;
			}
			position: relative;
			.decor{
					position: absolute;
					top: -20px;
					left: 20px;
					scale: .7;
			}
		}
		
		.contact-part{
			.contact-header{
				padding-block: 20px;
				display: flex;
				justify-content: space-between;
				position: relative;
				flex-wrap: wrap;
				.title{
					max-height: 50px;
				}
				.actions{
					display: flex;
					gap: .5em;

					align-items: center;
					.button{
						font-size: .8rem;
						padding:.25em 1em;
					}
				}
				
				
			}

			.contact-form{
				position: relative;
				height: 100%;
				
				.self-info{
					display: flex;
					gap: .5em;
					.input-1{
						width: 100%;
						background:#132928;
						border: 2px dashed #204E4B;
						padding: .25em .25em;
						font-size: 1.2rem;
						&::placeholder{
							opacity: .2;
							color: #52FF00;
						}
						color: #52FF00;
						&:focus{
							outline: 2px dashed #52FF00;
						}
					}
				}
				
				.messages{
					width: 100%;
					height: 76%;
					margin-top: 1em;
					padding: .5em;
					resize: none;
					background: url('https://i.pinimg.com/originals/ba/73/46/ba7346280e7372c5c74b3596dff0d53d.jpg'),#132913;
					background-blend-mode: multiply;
					background-size: 200px;
					border: 5px dotted #52FF00;
					font-size: 1.5rem;

					span{
						font-size: 8rem;
						font-weight: bold;
					}
					&::placeholder{
						opacity: 1;
						color: #2d4d1ec4;
					}
					
					&:focus{
						outline: 2px solid #52FF00;
					}
					color: #52FF00;
				}
				.decor-pengu{
					position: absolute;
					right: -5%;
					bottom: 5%;
				}
			}
			
		}
	}


	.guestbook{
		display: flex;
		// flex-direction: column;
		flex-wrap: wrap;
		// align-items: center;
		justify-content: center;
		padding: 1em;
		.guest{
			background:url('https://e1.pxfuel.com/desktop-wallpaper/850/966/desktop-wallpaper-emo-scene-backgrounds-emo-backgrounds.jpg'),rgba(0, 0, 0, 0.841);
			background-blend-mode: multiply;
			margin: 1em;
			padding: 1em;
			background-size: 400px;
			position: relative;
			box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.386);
			transition: all 100ms ease;
			&:hover{
				
				scale: 1.02;
				.messages{
					color: #52FF00;
				}
			}
			.messages{
				font-size: 1rem;
				opacity: 1;
				max-width: 60ch;
				transition: all 100ms ease;
			}
			.info{
				margin-top: 2em;
				background: #132928;
				padding: .55em;
				display: flex;
				justify-content: space-between;
				.decor{
					max-height: 50px;
				}
				.username{
					font-size: 1.2rem;
					font-weight: bold;
					span{
						font-weight: normal;
						font-size: .8rem;
					}
				}
				.detail{
					font-size: 1rem;
					opacity: .8;
					span{
						color: #ff3d91;
					}
				}
			}
		}
	}
}


@media screen and (width <= 768px) {
	#container_contacts .contacts .contact-part .contact-header{
		gap: 1em;
		.button p{
			font-size: .7rem;
		}
	}
}

@media screen and (width <= 565px) {
	#container_contacts .contacts{
		display: flex;
		flex-direction: column-reverse;
	}
	#container_contacts .contacts .art-part .main-art{
		max-height: 100%;
	}
	#container_contacts .contacts .contact-part .contact-header .actions .button{
		font-size: .5rem;
	}
	#container_contacts .contacts .contact-part .contact-form .messages{
		height: 100%;
		min-height: 200px;
		font-size: 1rem;
	}
	#container_contacts .contacts .contact-part .contact-form .self-info .input-1{
		font-size: .8rem;
	}
}

@media screen and (width <= 475px) {
	#container_contacts .contacts{
		padding: 1em;
	}
	#container_contacts .guestbook .guest .info .username{
		font-size: .8rem;
	}
	#container_contacts .guestbook .guest .info{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	#container_contacts .guestbook .guest{
		margin: .5em;
	}
	#container_contacts .guestbook .guest .messages{
		font-size: .7rem;
	}
	#container_contacts .guestbook .guest .info .detail{
		// display: flex;
		// flex-direction: column;
		font-size: .8rem !important;
	}
	#container_contacts .guestbook .guest{
		padding: .45em;
	}
}

@media screen and (width <= 375px) {
	#container_contacts .contacts .contact-part .contact-header .actions{
		display: flex;
		flex-direction: column;
		align-items: stretch;
		width: 100%;
	}
	#container_contacts .guestbook .guest .info .detail{
		display: flex;
		flex-direction: column;
		font-size: .8rem !important;
	}
	#container_contacts .guestbook .guest .info .username{
		span{
			display: none;
		}
	}
	#container_contacts .guestbook .guest .info{
		align-items: start;
		// display: flex;
		flex-direction: row;
	}
	#container_contacts .guestbook{
		padding: .25em;
	}


}