#container_artworks{

	padding-bottom: 400px;
	.artwork-list{
		display: flex;
		justify-content: center;
		gap: 5em 3em;
		flex-wrap: wrap;
		padding-top: 50px;
		.artwork{
			display: grid;
			grid-template-columns: 480px 50px;
			gap: .8em ;
			
	
			.main-container{
				outline: black 2px solid;
				box-shadow: 5px 5px 5px  rgba(0, 0, 0, 0.445);
				position: relative;
				background: #52FF00;
				transition: all 500ms ease;
				.image-part{
					img{
						transition: all 250ms ease;
						width: 100%;
						height: 100%;
						max-height:300px;
						object-fit: cover;
						background-color: #531839;
						border: 4px dotted #204E4B;
					}
				}

				.details{
					display: flex;
					align-items: center;
					background: url('/background/phee_xo.png'),rgba(0, 0, 0, 0.356);
					background-blend-mode: multiply;
					background-size: 200px;
					padding: .25em 1em;
					gap: 1em;
					a{
						color: white;
						text-decoration: none;
						font-size: 1.25rem;
						&:hover{
							text-decoration: underline;
						}
					}
					img{
						max-height: 40px;
					}
				}
			}

			.contact-container{
				background: url('/background/abstract_norm.png');
				display: flex;
				outline: 2px solid #7c2255;
				box-shadow: 5px 5px 5px  rgba(0, 0, 0, 0.445);
				height: min-content;
				align-items: center;
				position: relative;
				gap: 1em;
				flex-direction: column;
				padding: .25em;
				padding-bottom: 2em;
				border-radius: 0 0 1em 0;
				margin-top: .1em;
				transition: all 500ms ease;

				a{
					transition: all 100ms ease;
					img{
						// max-height: ;
						max-width: 50px;
					}
					&:hover{
						scale: 1.05;
					}
				}
			}

			&:hover{
				transition: all 100ms ease;
				.main-container{
					transform: translateY(5px);
					.image-part img{
						object-fit: contain;
					}
				}
				.contact-container{
					transform: translateY(-5px);
				}
			}
		}
	}
}