#container_artworks{

	padding-bottom: 400px;
	.artwork-list{
		// display: flex;
		// justify-content: center;
		gap: 5em 2em;
		padding: 1em;
		display: grid;
		grid-template-columns:  repeat(auto-fill, minmax(450px, 1fr));
		grid-auto-flow: dense;
		align-items: center;
		padding-top: 50px;
		.artwork{
			display: grid;
			grid-template-columns: 1fr 50px;
			gap: .8em ;
		
			.main-container{
				outline: black 2px solid;
				box-shadow: 5px 5px 5px  rgba(0, 0, 0, 0.445);
				position: relative;
				background: #52FF00;
				transition: all 500ms ease;
				.image-part{
					// max-height:300px;
					height: 300px;
					// min-height: 300px;
					img{
						transition: all 250ms ease;
						width: 100%;
						height: 100%;
						object-fit: cover;
						max-height: 100%;
						max-width: 100%;
						background-color: #531839;
						border: 4px dotted #204E4B;
					}
				}

				.details{
					display: flex;
					align-items: center;
					background: url('/background/phee_xo.png'),rgba(0, 0, 0, 0.356);
					background-blend-mode: multiply;
					background-size: 200px;
					padding: .25em 1em;
					gap: 1em;
					a{
						color: white;
						text-decoration: none;
						font-size: 1.25rem;
						&:hover{
							text-decoration: underline;
						}
					}
					img{
						max-height: 40px;
					}
				}
			}

			.contact-container{
				background: url('/background/abstract_norm.png');
				display: flex;
				outline: 2px solid #7c2255;
				box-shadow: 5px 5px 5px  rgba(0, 0, 0, 0.445);
				height: min-content;
				align-items: center;
				position: relative;
				gap: 1em;
				flex-direction: column;
				padding: .25em;
				padding-bottom: 2em;
				border-radius: 0 0 1em 0;
				margin-top: .1em;
				transition: all 500ms ease;

				a{
					transition: all 100ms ease;
					img{
						// max-height: ;
						max-width: 50px;
					}
					&:hover{
						scale: 1.05;
					}
				}
			}
	
			&.full-width{
				grid-column: span 2;
			}
			&.full-height{
				grid-row: span 2;
				.image-part{
					height: 730px;
				}
			}
			&:hover{
				transition: all 100ms ease;
				.main-container{
					transform: translateY(5px);
					.image-part img{
						object-fit: contain;
					}
				}
				.contact-container{
					transform: translateY(-5px);
				}
			}
		}
	}

	.artwork-controls{
		gap: 1em;
		margin: 1em;
		display: flex;
		align-items: center;
		justify-content: center;
		// width: 100%;
	}
}

@media screen and (width <= 768px) {
	#container_artworks .artwork-list .artwork .contact-container{
		flex-direction: row;
		gap: 1em;
		padding-bottom: 0;
	}
	#container_artworks .artwork-list .artwork .main-container .image-part{
	}
	#container_artworks .artwork-list .artwork{
		display: flex;
		flex-direction: column;
			&.full-height{
				grid-row: span 2;
				.image-part{
					height: 800px;
				}
			}
	}

	#container_artworks .artwork-list{
		grid-template-columns:  repeat(auto-fill, minmax(250px, 1fr));

	}


}

@media screen and (width <= 521px) {
	#container_artworks .artwork-list .artwork .contact-container{
		display: flex;
		align-items: center;
		// gap: 1em;
		flex-direction: row;
		padding-bottom: 0;
		a{
			img{
				max-height: 25px;
			}
		}
	}
	#container_artworks .artwork-list .artwork .main-container .image-part{
		height: 200px;
	}
	#container_artworks .artwork-list .artwork{
		display: flex;
		flex-direction: column;
			&.full-height{
				grid-row: span 2;
				.image-part{
					height: 100%;
				}
			}
	}

	#container_artworks .artwork-list{
		grid-template-columns:  repeat(auto-fill, minmax(150px, 1fr));
		gap: 3em ;


	}

	#container_artworks .artwork-list .artwork .main-container .details{
		a{
			font-size: .8rem;
		}
		img{
			max-height: 20px;
		}
	}
	
}

@media screen and (width <= 365px) {

	#container_artworks .artwork-list{
		display: flex;
		flex-direction: column;
		// grid-template-columns: 1fr;
		gap: 2em ;
	}

}