/* CSS Reset */
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root{
	--green: '#219A77';
	--darkPurple: '#42132E';
	--purple: '#B53B9D';
}

h2,p{
	color: white;
	font-weight: 300;
}

body{
	image-rendering: pixelated;
	background: url('/background/checker.png');
	background-size: 50px;
	font-smooth: never;
  -webkit-font-smoothing: none;
	-moz-osx-font-smoothing: none;
	
}

main{
	box-shadow: 0px 10px 5px 10px rgba(0, 0, 0, 0.185);
	min-height: 210vh;
	max-width: 1200px;
	margin: 0 auto;
	background-color: #2C1727;
	overflow: hidden;
	position: relative;
}
main::before{
	content: '';
	background: url('/gif/starpattern.gif');
	background-size: 300px;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
	opacity: 0.1;
	left: 0%;
	user-select: none;
	pointer-events: none;
}