/* CSS Reset */
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root{
	--green: '#219A77';
	--darkPurple: '#42132E';
	--purple: '#B53B9D';
}

h2,p{
	color: white;
	font-weight: 300;
}

.sparkles{
	position: absolute;
}
body{
	// image-rendering: pixelated;
	background: url('/background/checker.png'),rgba(0, 0, 0, 0.32);
	background-blend-mode: multiply;
	background-size: 50px;
	font-smooth: never;
  -webkit-font-smoothing: none;
	-moz-osx-font-smoothing: none;
	overflow-x: hidden;
	&::before{
		content: '';
		position: fixed;
		width: 100vw;
		height: 100vh;
		// background-color: red;
		user-select: none;
		pointer-events: none;
		box-shadow: inset 0px 0px 180px 50px rgba(0, 0, 0, 0.741);
		z-index: 1;
	}
}

main{
	box-shadow: 0px 10px 5px 10px rgba(0, 0, 0, 0.185);
	// min-height: 210vh;
	padding-bottom: 200px;
	min-height: 100vh;
	max-width: 1200px;
	margin: 0 auto;
	background-color: rgb(37, 20, 33);
	background-blend-mode: multiply;
	overflow: hidden;
	position: relative;
}
main::before{
	content: '';
	background: url('/gif/starpattern.gif');
	background-size: 300px;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
	opacity: 0.07;
	left: 0%;
	user-select: none;
	pointer-events: none;
}

