#container_setup{
	padding-bottom: 200px;

	.section-description p{
		b{
			color: #52FF00;
		}
		u{
			color:  blue;
		}
	}
	.setup-section{
		// background-color: red;
		.setup{
			display: grid;
			grid-template-columns: 2.4fr 1fr;
			padding: 2em;
			gap: 2em;
			.specs{
				display: flex;
				flex-direction: column;
				justify-content: stretch;
				gap: 1em;
				.spec-title{
					width: min-content;
					max-height: 50px;
					object-fit: contain;
					object-position: left;
				}
				.parts-list{
					display: flex;
					flex-direction: column;
					align-items: stretch;
					gap: 1em;
					.parts{
						width: 100%;
						background-color: #42132E;
						position: relative;
						z-index: 0;
						display: grid;
						grid-template-columns: 1fr 2fr;
						box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.534);
						.type{
							background-color: #204E4B;
							padding: .3em 1em;
							display: flex;
							align-items: center;
							gap: 1em;
							svg{
								color: white;
								font-size: 2rem;
							}
							h2{
								font-size: 1rem;
							}
						}
						.parts-name{
							display: flex;
							align-items: center;
							padding: .25em 1em;
							opacity: .8;
							p{
								color: #52FF00;
							}
							text-decoration: underline;
							text-decoration-color: white;
							text-underline-offset: 5px;
							
						}
					}
				}
				.decor-pattern{
					background: url('/background/phee_xo_tiled.png');
					background-size: 50px;
					opacity: 0.3;
					width: 100%;
					height: 100%;
					animation: pattern-scroll 50s infinite linear;
				}
			}

			.art{
				position: relative;
				.main-portrait{
					max-width: 100%;
					object-fit: cover;
					height: 100%;
					border: 3px dashed #52FF00;
				}

				.decor{
					position: absolute;
					top: 0%;
					right: 0%
				}
				
				.skull{
					top: 1%;
					right: -5%;
					z-index: 10;
				}
				.bigstar{
					top: -5%;
					right: 0%;
					z-index: 2;
				}
				.smallstar{
					top: 15%;
					right: -5%;
					scale: 1.2;
				}
				.abstract{
					top: -1%;
					z-index: 3;
					right:-12%;
					scale: .7;
				}
				.text{
					top: -25%;
					right: -20%;
					opacity: 1;
					animation: rainbow 2s infinite linear;
				}
			}
		}
	}

	.peripheral-section{
		padding-top: 100px;
		.title{
			width: min-content;
			max-height: 70px;
			width: 100%;
			object-fit: contain;
			object-position: center;
		}

		.peripherals{
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			gap: 5em 1em;
			justify-content: center;
			// background: green;
			padding: 2em;
			&:hover{
				.peripheral:not(:hover){
					filter: brightness(45%);
				}
			}
			.peripheral{
				background-color: #42132E;
				display: flex;
				cursor: pointer;

				flex-direction: column;
				max-width: 240px;
				z-index: 0;
				box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.391);

				transition: all 100ms ease;
				&:hover{
					scale: 1.05;

					.decor{
						rotate: 20deg;
					}
				}
				position: relative;
				.image{
					// padding: .3em;
					border: 4px dashed #204E4B;
					// width: 240px;
					height: 280px;
					aspect-ratio: 1/1;
					z-index: 10;

					.periph-img{
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
					.decor{
						position: absolute;
						left: 35%;
						top: -10%;
						width: 65px;
						height: 65px;
					}
				}

				.detail{
					font-size: .6rem;
					min-height: 45px;
					padding: .1em .5em;
					
					background:url('/background/abstract_norm.png'),rgba(0, 0, 0, 0.53);
					background-blend-mode: multiply;
					
					h2{
						color: #52FF00;
					}
					display: flex;
					align-items: center;
				}
			}
		}
	}
}

@keyframes rainbow {
	0%{
		filter: hue-rotate(0deg);
	}
	100%{
		filter: hue-rotate(360deg);
	}
}
@keyframes pattern-scroll {
	0%{
		background-position: 0% 0%;
	}
	100%{
		background-position: 400px 400px;
	}
}



@media screen and (width <= 768px) {
	#container_setup .setup-section .setup .art{
		scale: 1;

		.decor{
			scale: .6;
			transform: translateY(-50px);
		}
	}

	#container_setup .setup-section .setup .specs .parts-list .parts .type h2{
		font-size: .8rem;
	}
	#container_setup .setup-section .setup .specs .parts-list .parts .parts-name p{
		font-size: .8rem;
	}
	#container_setup .setup-section .setup .specs .parts-list .parts{
		grid-template-columns: 150px 1fr;
	}
	
}

@media screen and (width <= 624px) {
	#container_setup .setup-section .setup .art{
		scale: 1;
		max-width: 200px;
	}
	#container_setup .setup-section .setup{
		// grid-template-columns: 1fr 1fr;
		margin-top: 3em;
		display: flex;
		align-items: center;
		// flex-direction: column;
		flex-direction: column-reverse;
	}
	#container_setup .setup-section .setup .specs .decor-pattern{
		min-height: 100px;
	}
	#container_setup .setup-section .setup .specs .spec-title{
		max-height: 40px;
	}
	#container_setup .setup-section .setup{
		padding: .15em;
	}
	#container_setup .peripheral-section .peripherals{
		// gap: 5em .2em;
		padding:1em;
	}
}

@media screen and (width <= 525px) {
	#container_setup .peripheral-section .peripherals .peripheral .image{
		// height:300px;
		// width: 100px;

	}
	#container_setup .peripheral-section .peripherals{
		gap: 3em .5em;
	}
	#container_setup .peripheral-section .title{
		max-height: 50px;
	}
	#container_setup .peripheral-section .peripherals .peripheral{
		max-width: 130px;
	}
	#container_setup .peripheral-section .peripherals .peripheral .image .decor{
		scale: .5;
		top: -15%;
		left: 25%;
	}
	#container_setup .peripheral-section .peripherals .peripheral .image{
		height: 180px;
	}
	#container_setup .peripheral-section .peripherals .peripheral .detail h2{
		font-size: .6rem;
	}
}
@media screen and (width <= 375px) {
	#container_setup .setup-section .setup .specs .parts-list .parts .type{
		padding: .1em .5em;
		svg{
			width: 20px;
		}
		h2{
			font-size: .6rem;
		}
	}

	#container_setup .setup-section .setup .specs .parts-list .parts{
		grid-template-columns: 100px 1fr;
	}
	#container_setup .setup-section .setup .specs .parts-list .parts .parts-name p{
		font-size: .7rem;
	}
	#container_setup .setup-section .setup .specs .parts-list .parts .parts-name{
		opacity: 1;

	}
}